<a href="https://colab.research.google.com/github/namwootree/Certificate/blob/main/Big_Data_Analytics/2_%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_%EA%B8%B0%EC%82%AC_%EC%8B%A4%EA%B8%B0_%EB%8C%80%EB%B9%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.read_csv('/content/x_train_01.csv', encoding='cp949')

# 1 유형

주소-구에 기흥구에 사는 고객들의 총구매금액에 대해 MinMaxScaling을 실시 후, 0.7이상인 데이터의 개수를 구하시오

In [ ]:
# print(df1.shape) # row 4889 col 10
# print(df1.columns)
# print(df1.info()) 
# print(df1.isnull().sum()) # 연령 결측치

cond1 = (df1['주소-구']=='기흥구')
df1_gh = df1.loc[cond1]

# print(df1_gh.shape) # 314

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaler.fit(df1_gh[['총구매금액']])
result_scale = scaler.transform(df1_gh[['총구매금액']])

result_data = pd.DataFrame(result_scale)
# print(result_data.shape)

cond2 = (result_data[0]>=0.7)

print(result_data.loc[cond2].shape) # 2

(2, 1)

총구매금액이 상위 10%에 해당하는 데이터를 추출하여, 총구매수량의 합 계산

In [ ]:
# print(df1['총구매금액'].quantile(0.9)) # 2508685.999

cond1 = (df1['총구매금액']>=df1['총구매금액'].quantile(0.9))

df1_top = df1.loc[cond1]

# print(df1_top.shape) # 489

print(df1_top['총구매수량'].sum()) # 247386.99

247386.99

배송서비스신청엽에서 신청한 데이터 중 남성 데이터의 총구매수량의 표준편차와 여성 데이터의 총구매수량의 표준편차 차이를 구하시오

In [ ]:
cond1 = (df1['배송서비스신청여부'] == '신청')

df1_apply = df1.loc[cond1]

# print(df1_apply.shape) # 379

# print(df1_apply['성별'].value_counts()) 남 / 여

cond2 = (df1_apply['성별']=='남')

df1_apply_man = df1_apply.loc[cond2]
df1_apply_woman = df1_apply.loc[~cond2]

print(df1_apply_man['총구매수량'].std() - df1_apply_woman['총구매수량'].std()) # 35.296

35.296516818921134

In [ ]:
cond1 = (df1['배송서비스신청여부'] == '신청')

df1_apply = df1.loc[cond1]

# print(df1_apply.shape) # 379

# print(df1_apply['성별'].value_counts()) 남 / 여

# print(df1_apply.pivot_table(index='성별', values='총구매수량', aggfunc='std'))

print(124.438241 - 89.141724)

35.29651700000001

# 2 유형

Gold_member를 분류하는 학습 알고리즘을 구상하고 예측값을 계산하시오

In [ ]:
x_train = pd.read_csv('/content/x_train_01.csv', encoding='cp949')
y_train = pd.read_csv('/content/y_train_01.csv', encoding='cp949')

x_test = pd.read_csv('/content/x_test_01.csv', encoding='cp949')

In [ ]:
print(x_train.shape) # 4889 / 10
print(x_train.columns)
print(x_train.info()) # 연령 결측치

(4889, 10)
Index(['Unnamed: 0', '회원번호', '주소-구', '성별', '연령', '총구매금액', '총구매수량',
       '1회방문시구매금액(평균)', '배송서비스신청여부', '모바일알람여부'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4889 entries, 0 to 4888
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     4889 non-null   int64
 1   회원번호           4889 non-null   int64
 2   주소-구           4889 non-null   object
 3   성별             4889 non-null   object
 4   연령             4864 non-null   float64
 5   총구매금액          4889 non-null   int64
 6   총구매수량          4889 non-null   float64
 7   1회방문시구매금액(평균)  4889 non-null   int64
 8   배송서비스신청여부      4889 non-null   object
 9   모바일알람여부        4889 non-null   object
dtypes: float64(2), int64(4), object(4)
memory usage: 382.1+ KB
None

In [ ]:
print(y_train.shape) # 4889 / 3
print(y_train.columns)  
print(y_train.info()) # 회원번호 공통 / Gold member

(4889, 3)
Index(['Unnamed: 0', '회원번호', 'Gold_member'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4889 entries, 0 to 4888
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   4889 non-null   int64
 1   회원번호         4889 non-null   int64
 2   Gold_member  4889 non-null   object
dtypes: int64(2), object(1)
memory usage: 114.7+ KB
None

In [ ]:
print(x_test.shape) # 1630
print(x_test.columns)
print(x_test.info())

(1630, 10)
Index(['Unnamed: 0', '회원번호', '주소-구', '성별', '연령', '총구매금액', '총구매수량',
       '1회방문시구매금액(평균)', '배송서비스신청여부', '모바일알람여부'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1630 entries, 0 to 1629
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1630 non-null   int64
 1   회원번호           1630 non-null   int64
 2   주소-구           1630 non-null   object
 3   성별             1630 non-null   object
 4   연령             1623 non-null   float64
 5   총구매금액          1630 non-null   int64
 6   총구매수량          1630 non-null   float64
 7   1회방문시구매금액(평균)  1630 non-null   int64
 8   배송서비스신청여부      1630 non-null   object
 9   모바일알람여부        1630 non-null   object
dtypes: float64(2), int64(4), object(4)
memory usage: 127.5+ KB
None

In [ ]:
# x_train - y_train 병합 (merge 회원번호)
# x / y 분할 (Gold member 문자 -> 숫자)
# x dummy
# 파이프라인 구축 (결측치 + 학습)
# 교차 검증 + 매개변수 튜닝
# 학습 실시 및 검증 (학습 데이터 검증)
# 검증 데이터 예측 -> 파일로 저장

In [ ]:
# x_train - y_train 병합 (merge 회원번호)
df1 = pd.merge(x_train, y_train, on='회원번호', how='left')
# print(df1.shape) # 4889 / 12

# x / y 분할 (Gold member 문자 -> 숫자)
# print(df1['Gold_member'].value_counts()) # normal = 0 / vip = 1

cond1 = (df1['Gold_member']=='VIP')

df1.loc[cond1, 'Target'] = 1
df1.loc[~cond1, 'Target'] = 0

# print(df1['Target'].value_counts())

y_train_new = df1['Target']
x_train_new = df1.drop(columns=['Unnamed: 0_x', '회원번호', 'Unnamed: 0_y',
                                'Gold_member', 'Target'])

# x dummy
x_dummy = pd.get_dummies(x_train_new)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.impute import KNNImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report

In [ ]:
pipe_list = [('impute', KNNImputer()),
             ('model', RandomForestClassifier())]

pipe_model = Pipeline(pipe_list)
print(pipe_model)

Pipeline(steps=[('impute', KNNImputer()), ('model', RandomForestClassifier())])

In [ ]:
param_grid = {
    'model__min_samples_split':range(5, 10),
    'model__n_estimators':[100, 150, 200],
    'model__class_weight':[None, 'balanced']
}

grid_model = GridSearchCV(pipe_model, param_grid=param_grid,
                          cv=3, n_jobs=-1, scoring='f1')

grid_model.fit(x_dummy, y_train_new)

GridSearchCV(cv=3,
             estimator=Pipeline(steps=[('impute', KNNImputer()),
                                       ('model', RandomForestClassifier())]),
             n_jobs=-1,
             param_grid={'model__class_weight': [None, 'balanced'],
                         'model__min_samples_split': range(5, 10),
                         'model__n_estimators': [100, 150, 200]},
             scoring='f1')

In [ ]:
best_model = grid_model.best_estimator_
print(best_model)

Pipeline(steps=[('impute', KNNImputer()),
                ('model',
                 RandomForestClassifier(min_samples_split=5,
                                        n_estimators=150))])

In [ ]:
y_train_pred = best_model.predict(x_dummy)
print(classification_report(y_train_new, y_train_pred))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00      3419
         1.0       1.00      1.00      1.00      1470

    accuracy                           1.00      4889
   macro avg       1.00      1.00      1.00      4889
weighted avg       1.00      1.00      1.00      4889

In [ ]:
x_test_new = x_test.drop(columns=['Unnamed: 0', '회원번호'])

x_test_dummy = pd.get_dummies(x_test_new)

y_train_pred = best_model.predict(x_test_dummy)

result = pd.DataFrame(y_train_pred)
result.to_csv('20220619.csv')